.navbar {
  width: 100%;
  height: 8%;
  /* background-color: red; */
  background-color: var(--selected-content-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}

.navbar .dashboard-btn {
  width: fit-content;
  height: 100%;
  /* background-color: red; */
  display: grid;
  place-items: center;
  padding: 0 10px;
  color: var(--selected-text-color-primary);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-left: 100px;
  border-bottom: 3px solid #0094ff73;
  box-shadow: 0 5.69444465637207px 5.69444465637207px -5.69444465637207px #0094ff73;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
    .navbar{
        padding-left: 20px;
    }

    .navbar .dashboard-btn{
        margin-left: 50px;
    }
}
